:root {
    counter-reset: section-1;
}

h1 {
    counter-increment: section-1;
    counter-reset: section-2;
}

h1::before {
    content: counter(section-1) ". ";
}

h2 {
    counter-increment: section-2;
    counter-reset: section-3;
}

h2::before {
    content: counter(section-1) "." counter(section-2) ". ";
}

h3 {
    counter-increment: section-3;
    counter-reset: section-4;
}

h3::before {
    content: counter(section-1) "." counter(section-2) "." counter(section-3)
        ". ";
}

h4 {
    counter-increment: section-4;
    counter-reset: section-5;
}

h4::before {
    content: counter(section-1) "." counter(section-2) "." counter(section-3)
        "." counter(section-4) ". ";
}

h5 {
    counter-increment: section-5;
    counter-reset: section-6;
}

h5::before {
    content: counter(section-1) "." counter(section-2) "." counter(section-3)
        "." counter(section-4) "." counter(section-5) ". ";
}

h6 {
    counter-increment: section-6;
}

h6::before {
    content: counter(section-1) "." counter(section-2) "." counter(section-3)
        "." counter(section-4) "." counter(section-5) "." counter(section-6)
        ". ";
}
